<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.willon.pcms.pcmsmidware.mapper.ChangeMapper">

    <sql id="allChangeCol">
        change_id,
        change_name,
        branch_name,
        create_date,
        expire_date,
        attribute,
        is_valid
    </sql>

    <resultMap id="allColChangeResultMap" type="cn.willon.pcms.pcmsmidware.domain.bean.Changes">
        <id property="changeId" column="change_id"/>
        <result column="change_name" property="changeName"/>
        <result column="branch_name" property="branchName"/>
        <result column="create_date" property="createDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="attribute" property="attribute"/>
        <result column="is_valid" property="isValid"/>
    </resultMap>

    <resultMap id="changeWithKvmIdResultMap" type="cn.willon.pcms.pcmsmidware.domain.bean.Changes">
        <id property="changeId" column="change_id"/>
        <result column="change_name" property="changeName"/>
        <result column="branch_name" property="branchName"/>
        <result column="create_date" property="createDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="attribute" property="attribute"/>
        <collection property="kvmIds" ofType="java.lang.Integer">
            <id column="kvm_id" property="kvmId"/>
        </collection>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="changeId"
            parameterType="cn.willon.pcms.pcmsmidware.domain.bean.Changes">
        insert into changes (change_name, branch_name)
        values (#{changeName}, #{branchName});
    </insert>

    <select id="findByChangeId" resultMap="changeWithKvmIdResultMap">
        select c.change_id, c.change_name, c.branch_name, c.attribute, c.create_date, c.expire_date, k.kvm_id
        from changes c
                 left join kvm k on c.change_id = k.change_id
        where c.change_id = #{changeId}
          and c.is_valid = 1
    </select>

    <select id="findAll" resultMap="allColChangeResultMap">
        select
        <include refid="allChangeCol"/>
        from changes;
    </select>

    <insert id="saveUserChange" parameterType="cn.willon.pcms.pcmsmidware.mapper.condition.SaveUserChangeCondition">
        insert into user_changes (user_id, change_id, is_owner)
        VALUES (#{userId}, #{changeId}, #{isOwner})
    </insert>

    <delete id="deleteChangeByChangeId">
        delete
        from changes
        where change_id = #{changeId}
    </delete>

    <select id="findOwnerId" resultType="java.lang.Integer">
        select user_id
        from user_changes
        where change_id = #{changeId}
          and is_owner = 1;
    </select>
    <select id="findOwner" resultType="cn.willon.pcms.pcmsmidware.domain.bean.User">
        select u.user_id as userId, u.username as username, u.real_name as realName
        from user u
                 left join user_changes uc on u.user_id = uc.user_id
        where uc.change_id = #{changeId}
          and uc.is_owner = 1;
    </select>

    <select id="hasProjectPublishPermission" resultType="java.lang.Integer">
        select count(1)
        from project
        where project_id = #{projectId}
          and cur_change_id = #{changeId};
    </select>

    <update id="updateProjectStatus">
        update project
        set pub_status = #{pubStatus}
        where project_id = #{projectId}
          and cur_change_id = #{changeId};
    </update>

    <select id="findPublishProjectIP" resultType="java.lang.String">
        select server_ip
        from project
        where project_id = #{projectId}
          and cur_change_id = #{changeId};
    </select>
</mapper>