<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.willon.pcms.pcmsmidware.mapper.KvmMapper">


    <sql id="allColKvm">
        kvm_id,
        hostname,
        project_id,
        project_name,
        ip,
        dev_status,
        change_id,
        create_date,
        expire_date,
        attribute,
        is_valid
    </sql>

    <resultMap id="allColKvmResultMap" type="cn.willon.pcms.pcmsmidware.domain.bean.Kvm">
        <id column="kvm_id" property="kvmId"/>
        <result column="hostname" property="hostname"/>
        <result column="project_id" property="projectId"/>
        <result column="project_name" property="projectName"/>
        <result column="ip" property="ip"/>
        <result column="dev_status" property="devStatus"/>
        <result column="change_id" property="changeId"/>
        <result column="create_date" property="createDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="attribute" property="attribute"/>
        <result column="is_valid" property="isValid"/>
    </resultMap>

    <resultMap id="kvmWithUserResultMap" type="cn.willon.pcms.pcmsmidware.domain.bean.Kvm">
        <id column="kvm_id" property="kvmId"/>
        <result column="hostname" property="hostname"/>
        <result column="project_id" property="projectId"/>
        <result column="project_name" property="projectName"/>
        <result column="ip" property="ip"/>
        <result column="dev_status" property="devStatus"/>
        <result column="change_id" property="changeId"/>
        <result column="attribute" property="attribute"/>
        <result column="is_valid" property="isValid"/>
        <result column="create_date" property="createDate"/>
        <result column="expire_date" property="expireDate"/>
        <collection property="users" ofType="cn.willon.pcms.pcmsmidware.mapper.domain.KvmUser">
            <result column="user_id" property="userId"/>
            <result column="username" property="username"/>
            <result column="real_name" property="realName"/>
            <result column="permission" property="permission"/>
        </collection>
    </resultMap>


    <insert id="save" keyColumn="kvm_id" useGeneratedKeys="true" keyProperty="kvmId"
            parameterType="cn.willon.pcms.pcmsmidware.domain.bean.Kvm">
        insert into kvm (hostname, project_id, project_name, ip, dev_status, change_id, create_date, expire_date)
        values (#{hostname},
                #{projectId},
                #{projectName},
                #{ip},
                #{devStatus},
                #{changeId},
                #{createDate},
                #{expireDate})
    </insert>


    <select id="findByKvmId" resultMap="allColKvmResultMap">
        select
        <include refid="allColKvm"/>
        from kvm where kvm_id = #{kvmId} and is_valid = 1 limit 1;
    </select>

    <select id="findByHostname" resultMap="allColKvmResultMap">

        select
        <include refid="allColKvm"/>
        from kvm where hostname = #{hostname} and is_valid = 1 limit 1;
    </select>


    <select id="findAll" resultMap="allColKvmResultMap">
        select
        <include refid="allColKvm"/>
        from kvm where is_valid = 1;
    </select>

    <insert id="saveUserKvm">
        insert into user_kvm (kvm_id, user_id, permission)
        values (#{kvmId}, #{userId}, #{permission});
    </insert>

    <select id="findKvmWithUser" resultMap="kvmWithUserResultMap">
        select k.kvm_id,
               k.hostname,
               k.change_id,
               k.ip,
               k.project_id,
               k.project_name,
               k.attribute,
               k.dev_status,
               k.create_date,
               k.expire_date,
               uk.permission,
               u.user_id,
               u.username,
               u.real_name
        from kvm k
                 left join user_kvm uk on k.kvm_id = uk.kvm_id
                 left join user u on u.user_id = uk.user_id
        where k.kvm_id = #{kvmId}
          and k.is_valid = 1;
    </select>


    <update id="updateKvmIpByHostname">
        update kvm
        set ip = #{ip}
        where hostname = #{hostname};
    </update>

    <update id="updateKvmDevStatusByHostname">
        update kvm
        set dev_status = #{devStatus}
        where hostname = #{hostname};
    </update>


    <select id="isCreateKvmSuccess" resultType="java.lang.Integer">
        select count(1)
        from kvm
        where hostname = #{hostname}
          and trim(ip) != ''
          and dev_status != -1;
    </select>


    <delete id="deleteKvmByChangeId">

        delete
        from kvm
        where change_id = #{changeId}
    </delete>


    <update id="updateDevStatus">
        update kvm
        set dev_status = #{devStatus}
        where kvm_id = #{kvmId};
    </update>


    <select id="findHasPermissionKvm" resultMap="allColKvmResultMap"
            parameterType="cn.willon.pcms.pcmsmidware.mapper.condition.QueryHasPermissionKvmCondition">
        select k.kvm_id,
               k.ip,
               k.hostname,
               k.create_date,
               k.expire_date,
               k.dev_status,
               k.project_id,
               k.project_name
        from kvm k
                 left join user_kvm uk on k.kvm_id = uk.kvm_id
        where k.change_id = #{changeId}
          and uk.user_id = #{userId};
    </select>

    <select id="finKvmIdByProjectId" resultType="java.lang.Integer">

        select kvm_id
        from kvm
        where project_id = #{projectId};
    </select>

</mapper>